body {
    margin: 0;
    padding: 0;
    background-color: #2f3640;
}

#header {
    height: 100vh;
    width: 100%;
    background-image: url('assets/background.jpg');
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 15%;
}

#logo {
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

h1 {
    margin: 0;
    color: #fefcfa;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 70%;
    margin: 50px auto;
    background-color: #fefcfa;
    border-radius: 10px;
}

.row {
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    min-height: 160px;
    min-width: 240px;
}

.photo {
    float: left;
    margin-right: 20px;
    width: 240px;
    height: 160px;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: Georgia;
}